{% if messages %}

<div id="message" class="container">

  {% for message in messages %}

  <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %} role="alert"> <!-- el manejo de alert es para que dependiendo el envio 
                                                                                                  de datos si se cumple o no automaticamente muestre el 
                                                                                                  mensaje correspondiente-->
    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} Important: {% endif %}
    {{ message }}  <!-- se complementa con el archivo jvscript svript.js-->
  </div>

  {% endfor %}

</div>

{% endif %}