{% extends 'base.html' %}

{% block content %}

<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
  <div class="container">
    <h2 class="title-page">Store</h2>

  </div> <!-- container //  -->
</section>
<!-- ========================= SECTION INTRO END// ========================= -->

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
  <div class="container">

    <div class="row">
      <aside class="col-md-3">

        <div class="card">
          <article class="filter-group">
            <header class="card-header">
              <a href="#" data-toggle="collapse" data-target="#collapse_1" aria-expanded="true" class="">
                <i class="icon-control fa fa-chevron-down"></i>
                <h6 class="title">Categories</h6>
              </a>
            </header>
            <div class="filter-content collapse show" id="collapse_1">
              <div class="card-body">

                <ul class="list-menu">
                  <li><a href="{% url 'store' %}">ALL</a></li>
                  {% for i in links %}
                  <li><a href="{{ i.get_url }}"> {{ i.category_name }} </a></li>
                  {% endfor %}
                </ul>

              </div> <!-- card-body.// -->
            </div>
          </article> <!-- filter-group  .// -->
          

        </div> <!-- card.// -->

      </aside> <!-- col.// -->
      <main class="col-md-9">

        <header class="border-bottom mb-4 pb-3">
          <div class="form-inline">
            <span class="mr-md-auto">  <b>{{ product_count}}</b> Items found </span>

          </div>
        </header><!-- sect-heading -->

        <div class="row">
          {% if products %}
          {% for product in products  %}
          <div class="col-md-4">
            <figure class="card card-product-grid">
              <div class="img-wrap">

                <a href="{{ product.get_url }}"><img src="{{ product.imagenProduct.url }}"></a>

              </div> <!-- img-wrap.// -->
              <figcaption class="info-wrap">
                <div class="fix-height">
                  <a href="{{ product.get_url }}" class="title">{{product.product_name}}</a>
                  <div class="price-wrap mt-2">
                    <span class="price">$ {{ product.price }} MX</span>
                  </div> <!-- price-wrap.// -->
                </div>
                <a href="{% url 'add_cart' product.id %}" class="btn btn-block btn-success">Add shopping cart </a>
              </figcaption>
            </figure>
          </div> <!-- col.// -->
          {% endfor %}
          {% else %}
            <div>
              <h2> We couldn't find any item. Try later. </h2>
            </div>
          {% endif %}

        </div> <!-- row end.// -->


        <nav class="mt-4" aria-label="Page navigation sample">

          {% if products.has_other_pages %} <!--si existen otras paginas mostrara las pestanas  -->
          <ul class="pagination">

            {% if products.has_previous %} <!--valida si hay una pagina anterior, si la hay se habilita el link-->
              <li class="page-item"><a class="page-link" href="?page={{products.previous_page_number}}">Prev</a></li>
            {% else %}
              <li class="page-item disabled"><a class="page-link" href="#">Prev</a></li>
            {% endif %}

            {% for i in products.paginator.page_range %} <!--muestra cuantas paginas hay, si el producto es igual al numero de la pagina, el link de la pagina actual se deshabilita-->
              {% if products.number == i %}
                <li class="page-item active"><a class="page-link" href="#">{{ i }}</a></li>
              {% else %}
                <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
              {% endif %}
            {% endfor %}

            {% if products.has_next %}
              <li class="page-item"><a class="page-link" href="?page={{products.next_page_number}}">Next</a></li>
            {% else %}
              <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
            {% endif %}

          </ul>
          {% endif %}

        </nav>

      </main> <!-- col.// -->

    </div>

  </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}